<h1>Motorcycle List</h1>
@for (motorcycle of motorcycleList(); track motorcycle.id) {
  <app-motorcycle-list-item
    [motorcycle]="motorcycle"

    [class.even] = "$even"
    [class.odd]="$odd"
    (motorcycleClicked)="onMotorcycleClicked($event)">

  </app-motorcycle-list-item>
} @empty {
  <p>Nothing to show!!! GO BACK</p>
}
<h2> Sport Motorcycles</h2>

@for (motorcycle of sportMotorcycle(); track motorcycle.id) {
  <p>{{ motorcycle.brand }} {{ motorcycle.model }}</p>
} @empty {
  <p>No sport motorcycle is available right now! Come back later!</p>
}
